<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="E_DistributorEntities" connectionString="metadata=res://*/ElectricsDistributorModel.csdl|res://*/ElectricsDistributorModel.ssdl|res://*/ElectricsDistributorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YORU\SQLEXPRESS;initial catalog=E_Distributor;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>